  local.*
*.local
conf/zshrc
conf/emacs
lib/emacs/.*
lib/emacssession.*
lib/emacs/ac-comphist.dat
lib/emacs/autosaves
lib/emacs/elpa
lib/emacs/eshell
lib/emacs/games
lib/emacs/history
lib/emacs/projectile-bookmarks.eld
lib/emacs/request
lib/emacs/tramp
lib/vim/bundle/fugitive/.netrwhist
lib/vim/.*
lib/zsh/history
lib/zsh/history*
#*#
.#*
